<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kAGConfigKey</key>
	<data>
	cGJpbHRzMDAB1AMCBQSCBliDdiRyZWlzbm8kWGJvZWp0Y1lzYSRjcmloZXZUcnQkcG8A
	EoYBr6AhEAgHJxspKCsqNTE7OEFAS0VYV1pZXltmZWhncG9ycXp0VX5uJGx12WwKCQwL
	Dg0QDxIRFBMWFRgXGhkQX2QQeWFVc3RubGl4RWlwZXJfcw8Qb2xrY2RldUJkbmVsRElX
	c25lRGR0YVlldHNyYUR0dGFWZWMkYWxzcxBfYRZhdmxpYmFlbHRTZXJtYW5pVGdtaVhl
	ZWZ0YXJ1c2UQX2kTTHNjb2VrT2RCbm51bGRJZXNEaVRmbhBvgA+AC4AKgAiAIIAeCQ4C
	gBzWHh0gHyENIyIiJFomdWFodHJvYU1saWFadHVvaE5ybWFaZWxjZWl0bmFOZW1jWmls
	bmVNdGlhW2xvY3BtbmFOeW1hgGWABIADgAWABoADWgd0U2VybWF4YWFpEF9oJXR0OnAv
	L3d3Lnd0c2VybWF4YWFpYy5tb2Mvbm9hdHRjdS0vc0ZdZXJEZXZlbGVwb3JlEF9jFm5v
	YXR0Y3NAcnRhZWFtaXguYW9j0m0tLC8uJFpsY3NhbnNtYVhlYyRhbHNzc2VBVklHZm6i
	bzAuTlhPU2piY2XSdA0yNDNOVy5TaXRlbUEjdcE1y7OfgNnSCS0sNzZOVkRTdGGiZTA2
	MtI5DSM0wUGuf5912bMJgDzSPQ1aP1NOby5qYmNlc3Q+oQyADYAQX2MQbW9hLnVjdGku
	eTI5bTXSZS0sQ0JOXk1TdHViYWVsckFhcqN5REJXMFNOckFhctJ5DTxKRkejSUgPgBWA
	GYAdgEzWTk1QTxkNU1JVVFpWc2llU2VsdGNkZWtTeWV0VXRpZWxkV3RlaWFzbGlYb2NO
	bm1hCWUQgBGAEoATgBSAEF9rGUdBZUZ0YXJ1QWVhZHRwdmlCZXRpYVJldBBfQRFhZHRw
	dmkgZWlCIHRhUmV0EF9NTm5hZ2EgZXVhb3RhbWl0YWNsbCB5aHQgZXRzZXJtYW5pIGdp
	YiB0YXJldCAsY2Fjb3JkaW5nIHRvIGF2YWlsYWJsZSBiYW5kd2lkdGguXxAUaWNvbi1m
	ZWF0dXJlLWRlZmF1bHTSLC1cXVlBR0ZlYXR1cmWiXDDWTE1OT1ANGWBhYlVWCYAWgBeA
	GIATgBRfEBprQUdGZWF0dXJlU2F2ZVZpZGVvTG9jYWxseV8QElNhdmUgVmlkZW8gTG9j
	YWxseV8QOVRoZSBzdHJlYW1lZCB2aWRlbyBpcyBzYXZlZCBvbiB0aGUgZGV2aWNlJ3Mg
	bG9jYWwgbWVtb3J5LtZMTU5PUA0ZamtsVVYJgBqAG4AcgBOAFF8QFGtBR0ZlYXR1cmVU
	YXBUb0ZvY3VzXFRhcCBUbyBGb2N1c18QKVRhcCB0byBmb2N1cyB0aGUgY2FtZXJhIGR1
	cmluZyBzdHJlYW1pbmcu0iwtRHOiRDDTdXYNdxl5XxAUbnVtYmVyT2ZIb3Vyc0FsbG93
	ZWRdaXNMaW1pdGVkVGltZRAKCYAf0iwte3xfEA9BR1N0cmVhbWluZ1RpbWWifTBfEA9B
	R1N0cmVhbWluZ1RpbWXSLC1/gF1BR0NlcnRpZmljYXRlooEwXUFHQ2VydGlmaWNhdGVf
	EA9OU0tleWVkQXJjaGl2ZXLRhIVUcm9vdIABAAgAEQAaACMALQAyADcAWwBhAHQAhwCZ
	AKEAqwCyAMsA1ADqAO8A8QDzAPUA9wD5APsA/QD+AQABDQEYASMBLgE5AUUBRwFJAUsB
	TQFPAVEBXAGEAZIBqwGwAbsBxAHLAc4B1wHcAeQB7QHvAfQB+wH+AgMCDAIOAhMCHgIg
	AiICJAI3AjwCSwJPAlcCXAJgAmICZAJmAmgCdQKAAoQCigKSApsCnAKeAqACogKkAqYC
	wgLWAycDPgNDA00DUANdA14DYANiA2QDZgNoA4UDmgPWA+MD5APmA+gD6gPsA+4EBQQS
	BD4EQwRGBE0EZARyBHQEdQR3BHwEjgSRBKMEqAS2BLkExwTZBNwE4QAAAAAAAAIBAAAA
	AAAAAIYAAAAAAAAAAAAAAAAAAATj
	</data>
	<key>kAGSignatureKey</key>
	<data>
	pcXxGr60szkUEM1MUTZnT94ih+BQdPgJClzCxxXvr6KzSzHVZ4YXI6bs+JEeH8FGCp7w
	svotEZ/Bmal5Z4fD8i1nGoKT4fPfFiQgavfxzBoztJAZheR+5WU5urdYfUYnGAqszDpk
	BiLMnKEqkY7bxsuJ1X3ty1XtPcr/GowDeQ8=
	</data>
	<key>kAGTokenKey</key>
	<data>
	3lsoWsvWDpp7PtYNw/jZ4IoSnilPVT54GbIOk0nlUg8=
	</data>
</dict>
</plist>
