<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kAGConfigKey</key>
	<data>
	cGJpbHRzMDAB1AMCBQSCBliDdiRyZWlzbm8kWGJvZWp0Y1lzYSRjcmloZXZUcnQkcG8A
	EoYBr6AhEAgHJxspKCsqNTE7OEFAS0VYV1pZXltmZWhncG9ycXp0VX5uJGx12WwKCQwL
	Dg0QDxIRFBMWFRgXGhkQX2QQeWFVc3RubGl4RWlwZXJfcw8Qb2xrY2RldUJkbmVsRElX
	c25lRGR0YVlldHNyYUR0dGFWZWMkYWxzcxBfYRZhdmxpYmFlbHRTZXJtYW5pVGdtaVhl
	ZWZ0YXJ1c2UQX2kTTHNjb2VrT2RCbm51bGRJZXNEaVRmbhBvgA+AC4AKgAiAIIAeCQ4C
	gBzWHh0gHyENIyIiJFomdWFodHJvYU1saWFadHVvaE5ybWFaZWxjZWl0bmFOZW1jWmls
	bmVNdGlhW2xvY3BtbmFOeW1hgGWABIADgAWABoADWgd0U2VybWF4YWFpEF9oJXR0OnAv
	L3d3Lnd0c2VybWF4YWFpYy5tb2Mvbm9hdHRjdS0vc0ZdZXJEZXZlbGVwb3JlEF9jFm5v
	YXR0Y3NAcnRhZWFtaXguYW9j0m0tLC8uJFpsY3NhbnNtYVhlYyRhbHNzc2VBVklHZm6i
	bzAuTlhPU2piY2XSdA0yNDNOVy5TaXRlbUEjg8H1orOfgNnSCS0sNzZOVkRTdGGiZTA2
	MtI5DSM0wUGGjZ812bMJgDzSPQ1aP1NOby5qYmNlc3Q+oQyADYAQX2MabW9zLnJ0YWVW
	bWRpb2VsLnZpU2VydGFl0m0tLENCTl5NU3R1YmFlbHJBYXKjeURCVzBTTnJBYXLSeQ08
	SkZHo0lID4AVgBmAHYBM1k5NUE8ZDVNSVVRaVnNpZVNlbHRjZGVrU3lldFV0aWVsZFd0
	ZWlhc2xpWG9jTm5tYQllEIARgBKAE4AUgBBfaxlHQWVGdGFydUFlYWR0cHZpQmV0aWFS
	ZXQQX0ERYWR0cHZpIGVpQiB0YVJldBBfTU5uYWdhIGV1YW90YW1pdGFjbGwgeWh0IGV0
	c2VybWFuaSBnaWIgdGFydGUsIGFjY29yZGluZyB0byBhdmFpbGFibGUgYmFuZHdpZHRo
	Ll8QFGljb24tZmVhdHVyZS1kZWZhdWx00iwtXF1ZQUdGZWF0dXJlolww1kxNTk9QDRlg
	YWJVVgmAFoAXgBiAE4AUXxAaa0FHRmVhdHVyZVNhdmVWaWRlb0xvY2FsbHlfEBJTYXZl
	IFZpZGVvIExvY2FsbHlfEDlUaGUgc3RyZWFtZWQgdmlkZW8gaXMgc2F2ZWQgb24gdGhl
	IGRldmljZSdzIGxvY2FsIG1lbW9yeS7WTE1OT1ANGWprbFVWCYAagBuAHIATgBRfEBRr
	QUdGZWF0dXJlVGFwVG9Gb2N1c1xUYXAgVG8gRm9jdXNfEClUYXAgdG8gZm9jdXMgdGhl
	IGNhbWVyYSBkdXJpbmcgc3RyZWFtaW5nLtIsLURzokQw03V2DXcZeV8QFG51bWJlck9m
	SG91cnNBbGxvd2VkXWlzTGltaXRlZFRpbWUQCgmAH9IsLXt8XxAPQUdTdHJlYW1pbmdU
	aW1lon0wXxAPQUdTdHJlYW1pbmdUaW1l0iwtf4BdQUdDZXJ0aWZpY2F0ZaKBMF1BR0Nl
	cnRpZmljYXRlXxAPTlNLZXllZEFyY2hpdmVy0YSFVHJvb3SAAQAIABEAGgAjAC0AMgA3
	AFsAYQB0AIcAmQChAKsAsgDLANQA6gDvAPEA8wD1APcA+QD7AP0A/gEAAQ0BGAEjAS4B
	OQFFAUcBSQFLAU0BTwFRAVwBhAGSAasBsAG7AcQBywHOAdcB3AHkAe0B7wH0AfsB/gID
	AgwCDgITAh4CIAIiAiQCQQJGAlUCWQJhAmYCagJsAm4CcAJyAn8CigKOApQCnAKlAqYC
	qAKqAqwCrgKwAswC4AMxA0gDTQNXA1oDZwNoA2oDbANuA3ADcgOPA6QD4APtA+4D8APy
	A/QD9gP4BA8EHARIBE0EUARXBG4EfAR+BH8EgQSGBJgEmwStBLIEwATDBNEE4wTmBOsA
	AAAAAAACAQAAAAAAAACGAAAAAAAAAAAAAAAAAAAE7Q==
	</data>
	<key>kAGSignatureKey</key>
	<data>
	KcMUyKsRARBk3gkBbyJdpcav2G2b3CRgZKFR0scJMVx1swxIIcLcDvDRKG6qoyNngNbR
	RbXOodV9yPRofr5FOmAZctv2aH6z09orJzlLMwzvidS5MCknGxBdlYcG/TGZvVPFVcyd
	HJBT0B/BLVAXbBaR3aNOPyyjU9EXxz9MfgU=
	</data>
	<key>kAGTokenKey</key>
	<data>
	WDeDMxt5SwAgtrxGkDot2I7W0/25bgVWRf1Tr0X5bos=
	</data>
</dict>
</plist>
